body{
    background-image: linear-gradient(70deg,tomato,lightsalmon);
    height: 648px;
}
.btnStyle{
    
    margin: 4px;

    
}
.container{
    height: 395px;
    width: 280px;
    border: 1px solid rgb(236, 236, 236);
    margin-top: 150px;
    background-color: rgb(236, 233, 233);
    border-radius: 15px;
    background-image: linear-gradient(45deg, rgb(192, 192, 192),rgb(160, 160, 160));
    
    border-left: 7px solid;
    border-image: linear-gradient(300deg, blue,cyan);
    border-image-slice:3;
    box-shadow: 10px 10px 40px lightsalmon;

}

#display{
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 500;
}
h1{
    text-align: center;
    margin-top: 5px;
}
#equal{
    width: 83px;
}
#ac{
    font-weight: 40;
    font-size: 1rem;
}